@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}
.animate-vibrate {
  animation: vibrate 0.5s ease-in-out;
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .navbar {
    @apply bg-white flex items-center px-11 md:px-14 lg:px-28 py-5 justify-between top-0 sticky z-50;
  }
  .products {
    @apply bg-white shadow-md rounded-xl duration-500  hover:shadow-xl;
  }
  .disclosure-btn {
    @apply flex w-full justify-between rounded-lg bg-stone-100 px-4 py-2 text-left text-sm font-medium text-gray-500 hover:bg-stone-200 focus:outline-none focus-visible:ring focus-visible:ring-stone-500/75;
  }
  .reserve-mother {
    @apply flex flex-col  md:flex-col lg:flex-row sm:items-center sm:gap-5;
  }
  .left-reserve {
    @apply rounded-lg flex flex-col md:flex-col lg:flex-row lg:w-3/5 gap-3 sm:w-full md:w-full p-3 h-full relative;
  }
  .options {
    @apply border border-cyan-500 py-2 px-7 rounded-lg;
  }
  .map-container {
    @apply w-full md:w-full h-72 lg:w-2/5 rounded-lg relative p-3;
  }
  .service-box {
    @apply z-30 bg-gradient-to-r from-cyan-900 to-blue-950 w-full h-full absolute opacity-85 rounded-md;
  }
  .list-links {
    @apply hidden md:flex md:space-x-10 text-gray-600 font-medium;
  }
  .social-list {
    @apply w-full md:w-auto flex flex-wrap gap-4 justify-center md:justify-start;
  }
}
